.leaderboard-wrapper {
  width: 500px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.row {
  font-size: 1.5rem;
}

.table-leaderboard__image {
  width: 24px;
  margin-right: 5px;
  vertical-align: bottom;
}

.table-leaderboard td {
  vertical-align: middle;
}
